<!DOCTYPE html>
<html>
<head>
	<title>food</title>
</head>
<body>
	<form action="/less_13" method="POST">
		Name:<br>
		<input type="text" name="from" value=""><br>
		Money:<br>
		<input type="number" name="money" value=""><br><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>