<!DOCTYPE html>
<html>
<head>
	<title>autorithetion</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>
	<header>
		<%- include('head.ejs'); %>
		
	</header>
	<content>
		<div id="cont">
				<h1>Авторизация</h1>
				<form action="/login" method="POST">
					Login:<br>
					<input type="text" name="login" placeholder="login"><br>
					Password:<br>
					<input type="password" name="password" placeholder="password"><br><br>
					<input type="submit" value="Вход">
					<a href="/registr">Регистрация</a>
				</form>
		</div>
	</content>
	
</body>
</html>