<!DOCTYPE html>
<html>
<head>
	<title>autorithetion</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<header>
		<%- include('head.ejs'); %>
		
	</header>
	<content>
		<div id="cont">
			<h1>Registresion</h1>
			<form action="" method="POST">
				Name:<br>
				<input type="text" name="name" value="" placeholder="login"><br>
				Surname:<br>
				<input type="text" name="surname" value="" placeholder="surname"><br>
				Пол:<br>
				<input type="text" name="pol" value="" placeholder="pol"><br>
				E-mail:<br>
				<input type="Email" name="email" value="" placeholder="email"><br>
				Login:<br>
				<input type="text" name="login" value="" placeholder="login"><br>
				Password:<br>
				<input type="password" name="password" value="" placeholder="password"><br>
				Repassword:<br>
				<input type="password" name="passwordR" value="" placeholder="passwordR"><br>
				<input type="submit" value="Регистрировать">
			</form>
		</div>
	</content>
	
</body>
</html>