<!DOCTYPE html>
<html>
<head>
	<title>canvas</title>
	<script src="jquery-3.3.1.min.js"> </script>
</head>
<body style="background: #fff">
	<canvas id="canvas" width="888" height="600" style="background: #000; border: 2px solid #000">
	</canvas>

	<script type="text/javascript" src="snake.js"></script>
</body>
</html>