body {
	background-image: url('/images/image.jpg');
 	padding: 0;
 	margin: 0;
  	font: 20px "calibri";

}
header{
	font-size: 35px;
	display: block;
	height: 50px;
	text-align: center;
}
input {
	margin: 5px 0;
}

a {
	margin: 10 20px;
	transition: 0.5s;
	text-decoration: none;
	color: #00B7FF;
}
content {
	display: block;
	margin:  40px 40px;
	padding: 10px;
	background: #00B7FF;
}
h1 {
 	margin: 2px;
}

a:hover {
	color: white;
	transition: 0.5s;
}